/2009106074_Sefelin_Nada_Para'pak/nbproject/private/
/Responsi/nbproject/private/
/Responsi/build/
/Praktikum2/nbproject/private/
/coba/nbproject/private/
/2009106074_Sefelin_Nada_Para'pak/build/
/POSTTEST4/nbproject/private/
/mencoba/nbproject/private/
/ulang1/nbproject/private/
/ulang1/build/